footer
  flex: 0 0 auto;

.mdl-mini-footer__link-list
  color white
  @media (max-width: 520px)
    display block !important

.mdl-mini-footer__link-list a:hover
  opacity .7

.design-logo
  width 80px
  margin-left 5px