.flex-center
  display flex !important
  justify-content center !important
  align-items center !important

.flex-top
  display flex !important
  justify-content center
  align-items flex-start

.flex-column
  flex-direction column

.full-width
  width 100%

.text-center
  text-align center

.flex
  display flex !important